@import '~@tylertech/tyler-components-web/styles/typography/mixins';
@import '~@tylertech/tyler-components-web/styles/theme/mixins';

.live-demo {
  @include tyl-css-custom-property(background-color, --tyl-forge-react-theme-example-background, #f5f5f5);

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  max-width: 825px;
  margin: 0 auto;
  padding: 16px;
}

.container {
  @include mdc-theme-prop(border-color, border-color);
  @include tyl-css-custom-property(background-color, --mdc-theme-surface, #fff);
  @include tyl-css-custom-property(color, --mdc-theme-on-surface, rgba(0,0,0,0.87));

  display: flex;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  margin: 0;
  min-height: 100px;
  margin-top: 24px;
  margin-bottom: 24px;

  &--layout-row {
    flex-direction: row;
  }

  &--layout-column {
    flex-direction: column;
  }
}

.container--layout-row {
  .inner {
    width: 50%;
    margin: 0 auto;
  }

  .code-examples {
    flex: 1 1 0.0001px;
  }

  &.container--dense {
    .inner {
      width: 25%;
    }
  }

  .inner:only-child {
    width: 100%;
  }
}

.inner {
  flex: none;
  box-sizing: border-box;
  
  &--padded {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
  }
}
