@import '~@tylertech/tyler-components-web/styles/theme/mixins';

pre[class*='language-'] {
  padding: 16px;
  border-radius:  4px;
  line-height: 1.5;
  font-size: 0.875rem;
  min-height: 56px;
  box-sizing: border-box;
  overflow: auto;
  border-width: 1px;
  border-style: solid;
  border-color: #e0e0e0;
  border-color: var(--mdc-theme-border-color);
}

.tyl-forge-react {
  &__copy-button {
    position: absolute;
    top: 4px;
    right: 4px;
  }

  &__snippet-btn {
    --mdc-theme-primary: var(--mdc-theme-text-primary-on-background);
    position: absolute;
    bottom: 0;
    right: 0;

    button {
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
}

.code-examples {
  @include mdc-theme-prop(border-left-color, border-color);

  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  flex-direction: column;
  border-left-width: 1px;
  border-left-style: solid;

  pre[class*="language-"] {
    margin: 0;
    border: none;
  }
}
