@import '~@tylertech/tyler-components-web/styles/theme/mixins';
@import '~@tylertech/tyler-components-web/styles/theme/mdc-theme-dark';
@import '~@tylertech/tyler-components-web/styles/skeleton/variables';

// html,
// body {
//   height: 100%;
//   width: 100%;
// }

// body {
//   margin: 0;
//   overflow: hidden;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   background-color: var(--mdc-theme-background);
//   font-size: 16px;
// }

li {
  line-height: 2rem;
}

body.tyl-forge-react-dark {
  @include tyl-theme-dark-properties;
  @include tyl-theme-dark-mdc-overrides();

  // Storybook CSS custom properties
  --tyl-forge-react-theme-example-background: #444444;
  --tyl-forge-react-code-background: #1E1E1E;
  --tyl-forge-react-theme-header-container: rgba(0, 0, 0, 0.85);
  --tyl-forge-react-theme-resources-background: #{$material-color-grey-800};
}
