@import '@tylertech/tyler-components-web/styles/theme/mixins';

a {
  @include tyl-css-custom-property(color, --mdc-theme-primary, $tyl-theme-primary);

  text-decoration: none;
  font-weight: 400;
  opacity: 1;
  transition: opacity 100ms linear;

  &[disabled] {
    pointer-events: none;
    cursor: default;
    opacity: 0.38;
  }

  &:hover:not([disabled]) {
    opacity: 0.75;
  }
}
