// table {
//   border-collapse: collapse;
//   border-radius: 5px;
//   border-spacing: 0;
//   margin: 0 0 32px;
//   width: 100%;
//   color: var(--mdc-theme-text-primary-on-background);

//   th {
//     font-size: 13px;
//     font-weight: 600;
//     max-width: 100px;
//     padding: 13px 16px;
//     text-align: left;
//     border: 1px solid var(--mdc-theme-border-color);
//     background: #f0f0f0;
//     color: var(--mdc-theme-text-primary-on-background);
//     white-space: nowrap;
//   }

//   td {
//     font-weight: 400;
//     padding: 8px 16px;
//     border: 1px solid var(--mdc-theme-border-color);
//     color: var(--mdc-theme-text-primary-on-background);
//   }
  
//   td:not(:last-child) {
//     white-space: nowrap;
//   }
// }

@import '@tylertech/tyler-components-web/styles/table/mixins';

table.tyl-storybook__table {
  @include tyl-table;

  tbody tr {
    height: 48px;

    &:hover {
      background-color: inherit;
    }

    td {
      padding-right: 0;
    }
  }

  td:not(:last-child) {
    white-space: nowrap;
  }
}
