.code-examples {
  // @include mdc-theme-prop(border-left-color, border-color);

  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  flex-direction: column;
  border-left-width: 1px;
  border-left-style: solid;

  pre[class*="language-"] {
    margin: 0;
    border: none;
  }
}